<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcademicSystem.Properties.Settings.academicConnectionString"
            connectionString="Data Source=DESKTOP-RNNVSRR\SQLEXPRESS;Initial Catalog=academic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>